.wrapper
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: calc(100% - 6.5rem);
}

.cardwrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu
{
    width: 100%;
    min-height: 100vh;
    max-height: 95vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 3rem 3rem 1rem 3rem;
    overflow-y: scroll;
}

.Heading>h1
{
    padding: 2rem;
    font-family: 'Poppins';
    font-weight: 600;
}

.cancelledflightcard
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: #f3f3f3;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

/*********Title*********/
.title 
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;


}

.titleheader
{
    padding:1rem 2rem;
    text-transform: capitalize;
    color: white;
}

.titleheader>h3 
{
    margin: 0;
}

/******Details*************/
.flightdetail 
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 15rem;
    text-align: left;
}
/******Location*************/

.Location
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
}
.city
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.city h3 
{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;

}

/**************Flight body******************/
.flightcardbody
{
    width: 100%;
    padding: 1rem;
}

.bodyrow 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:1rem
    
}