<app-loggedinheader></app-loggedinheader>
<div class="wrapper">

    <app-sidebar></app-sidebar>
    <div class="menu">
        <div class="Heading">
            <h1>Cancelled Flight History</h1>
        </div>
        <div class = "cardwrapper" >
            <div class="cancelledflightcard">
                <div class="title">
                    <div class="titleheader name">
                        <h3>ASAY</h3>
                    </div>
                    <div class="flightdetail titleheader">
                        <small>flight</small>
                        <strong>AI111</strong>
                    </div>
                </div>
                <div class="Location">
                    <div class="departurelocation city">
                        <h3>Delhi</h3>
                    </div>
                    <a class="airplane">
                        <div class="fa fa-plane"></div>
                    </a>
                    <div class="Arrivallocation city">
                        <h3>Mumbai</h3>
                    </div>
                </div>
                <div class="flightcardbody">
                   
                </div>
            </div>
        </div>
    </div>
</div>