@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.bg
{
    background-image:url(../../../assets/adminbg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:100%;
    padding: 2rem;
   
}
.view
 {
     margin-top: 10%;
     margin-bottom: 13%;
 }  
 .head_logo
{
    padding-top: 10px;
    height: 5rem;
    cursor: pointer;
}
 .h1
 {
    font-family: 'Rubik', sans-serif;
 } 
    .tbl
    {
        border-spacing: 0.5rem;
        margin:auto;
        border-radius: 15px;
        padding:20px;
        width:75%;
        padding-left: 40px;
        background-color: white;   
        border-collapse: collapse;
        font-family: 'Rubik';
        

    }

    .th
    {
        color:white;
        background-color: rgb(102, 96, 96); 
        padding:20px;  
        
    }


    .td
    {
        font-family: 'Rubik', sans-serif;
        text-align: center;
        font-size:18px;
        font-weight: 500;
        padding:15px;
        
    }

    .tbt
    {
        background-color: rgb(209, 179, 179);
    }

    .bt
    {
        margin-left:450px;
        margin-right:450px;
        color:black;
        font-size: large;
        border: none;
        border-radius: 3px;
        padding: 15px 28px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        width:300px;
        background-color: rgb(177, 169, 169);
        font-weight:500;
        font-family: 'Rubik', sans-serif;
        cursor: pointer;
    }

 .delete{
     color:white;
   background-color: rgb(182, 69, 69);
 }
 

 @media screen and (max-width:1250px)
 {
     .bg
     {
         padding:1rem;
     
     }
     .view
     {
        zoom:70%;
         height:1000px;
       
     }
 }

 @media screen and (max-width:852px)
 {
     .bg
     {
         padding:1rem;
     
     }
     .view
     {
        zoom:50%;
         height:1000px;
       
     }
 }
 @media screen and (max-width:614px)
 {
     .bg
     {
         padding:0.8rem;
     
     }
     .view
     {
        zoom:30%;
         height:1500px;
       
     }
     
 }
 @media screen and (max-width:384px)
 {
     .bg
     {
         padding:0.8rem;
     
     }
     .view
     {
        zoom:20%;
        height:2100px;
        
     }
 }