<div class="contain">
    <div class="row">
        <div class="col-sm-4 left">
            <div class="row lrow">
                <i class="fa fa-address-card ico"></i> Personal Details
            </div>
            <div class="row lrow">
                <i class="fa fa-calendar ico"></i> Booking History
            </div>
            <div class="row lrow">
                <i class="fa fa-credit-card ico "></i> Credit Card
            </div>
            <div class="row lrow">
                <i class="fa fa-sign-in ico" ></i>  Login Details
            </div>
            <div class="row lrow">
                <i class="fa fa-sign-out ico" ></i>  Logout
            </div>
        </div>
        <div class="col-sm-8 right">
            <div class="row rrow">
                <h3>Personal Details</h3>
            </div>
            <div class="row rrow">
                <h3>Booking History</h3>
            </div>
            <div class="row rrow">
                <h3>Credit Card</h3>
            </div>
            <div class="row rrow">
                <h3>Login Details</h3>
            </div>
        </div>
    </div>
</div>
