@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.loginwrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-image:url(../../../assets/adminbg.jpg);
    background-size: cover;
    
}
.logincontainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    background-color: white;
    border-radius: 1rem;
    padding: 3rem;
}
.loginform
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;  
    padding: 3rem 0 6rem 0 ;
}

.loginform__heading
{
    font-size: 3.0rem;
    font-family: 'Poppins', sans-serif;
    padding: 3rem 0;
    font-weight: 600;
}
.inputcontainer
{
    margin: 1.5rem 0;
}
.label {
    font-size: 1.6rem;
    color: #555;
    text-transform: capitalize;
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.loginform__input
{       
        font-family: 'Poppins', sans-serif;
        line-height: 5rem;
        background: #fafafa;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        border-radius: 4px;
        padding: 0 2rem;
        font-size: 1.6rem;
        color: #666;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        width: 30rem;
        border: solid rgb(114, 111, 111);
        border-width: 1px;
        outline:none;
        font-weight:500;

    
}
.msg{
    font-size:15px;
    color:red;
    font-weight: 500;
}
.pwdcontainer
{
    position: relative;
}
.loginform__toggleicon
{
    position: absolute;
    font-size: 1.3rem;
    top: 4rem;
    right: 1.5rem;
}
.submitbtn 
{     
    color:black;
    background-color: rgb(202, 195, 195);
    font-size: 50px;
    border: none;
    border-radius: 3px;
    padding: 15px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width:100%;
    height:70px;
    font-weight:600;
    font-family: 'Rubik', sans-serif;
    cursor:pointer;   
    margin-bottom: 5px;
    background-color: #4772af;
    color:white;

}


@media screen and (max-width:500px)
{
  .logincontainer
  {
    width: 95vw;
    
  }
}