<app-loggedinheader></app-loggedinheader>
<div class="wrapper">
    
    <div class="menu">
        <div class="Headingcontainer">
            <h1>Booking Rules</h1><br>
            
            <div class="inputcontainer">
            <ul>
                <li>
                <label class="label">Fees and Charges</label><br>
                </li>
            </ul>
            <ol>
                <li>If you do not wish to travel, you must cancel your booking at least 3 hours prior to scheduled departure of the flight to be eligible for a refund. Refund will be made to you subject to applicable cancellation charges. Please note that cancellation policy is subject to change without notice.
                </li><br>
                 <li> Passengers can book pre-paid excess baggage up to 1 hours prior to the scheduled departure of their
                flight via our website or call centre.</li><br>
                
                <li>Refund for cancelled tickets will be processed after the deduction of appropriate cancellation fees,
                which may take up to 7 working days. </li><br>
                </ol>
                <ul>
                    <li>
                <label class="label">Schedule and delays</label><br>
                    </li>
                </ul>
                <ol>
                <li> Booking must be done before Three hours of flight departure.</li><br>
                
                <li> ASAY will not be liable for any loss incurred due to flight cancellation or rescheduling, and passengers will not be provided any additional benefits.</li><br>
                
            </ol>
        </div>
        </div>
        </div>
    </div>
    

<app-footer></app-footer>
