 <app-header *ngIf = "isLoggedIn"></app-header >
 <header class="logged-in-header" *ngIf = "!isLoggedIn">
    <div class="logo">
        <a [routerLink]="['/']"> LOGO </a>   
     </div>
    <div class="nav-items">
        <ul>
            <li><a [routerLink]="['/flight/search']">Search</a></li>
            <li><a [routerLink]="['/login']">Logout</a></li>
            <li><a [routerLink]="['/signup']" class="avatar"><fa-icon [icon]="faUser"></fa-icon></a></li>
          </ul>
    </div>
 </header> 
 <div class="search-details">
    <div class="heading">
        <h2 class="heading--title">Search Results</h2>
        <h4 class="heading--results">We found {{flights.length}} results</h4>
    </div>
 </div>
 <div class="travel-details" *ngIf = "arrival!=null">
     <div class="travel-details--wrapper">

        <div class="heading__location" >
            <span class="heading__location--place"> {{departure}}</span> <span class="heading__location--arrow">&#8594;</span>   <span class="heading__location--place">{{arrival}}</span>
        </div>
        <div class="seatclasstoggler">
            <span>Economic</span>
            <div class= "toggle-switch">
                <button [ngClass]="(classstate) ? 'switchlight on-animationright' :'switchlight on-animationleft'" (click) = "toggle()"></button>
            </div>
            <span>Business</span>
        </div>
        
     </div>
 </div>   
 <app-airplanecard [flightdetails] = "flights" [classstate] = "classstate" class="flightdetailwrapper">    

    </app-airplanecard>

<app-footer></app-footer>
