/* Header */
header 
{
    display: flex;
    align-items: center;
    height: 6.5rem;
    background-color: #111;
    width: 100%;
    color: white;
    position: relative;
}

.logo 
{
    padding-left: 3rem;
}
.nav-items
{
    position: absolute;
    right: 2rem;
}

.nav-items>a
{
    padding: 0 3rem;
    cursor: pointer;
}

ul { 
    padding: 0; 
    list-style: none; 
    display: table;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25rem;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: .5rem;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 90%; 
    left: 1rem; 
  }
/* *********SEARCH DETAILS***************** */

.search-details
{
  background-color:  #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
 
}

.search-details>div
{
  width: 60%;
}
/* *******************TRAVEL DETAILS*************************** */

.travel-details 
  {
    background-color:  #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .travel-details--wrapper
  {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
  }
  .heading--title
  {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Roboto';
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    color: rgba(51, 51, 51, 0.788);
    margin-bottom: 0.8rem;
  }
  .heading--results
  {
    color: rgba(51, 51, 51, 0.671);
  }
  .heading__location
  {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .heading__location--place
  {
    font-size: 3.5rem;
    text-transform: capitalize;
    letter-spacing: 0rem;
    color: rgba(51, 51, 51, 0.851);
    font-weight: 400;
    padding-right: 1.5rem;
  }

  .heading__location--arrow
  {
    color: rgba(51, 51, 51, 0.596);
    font-size: 3.5rem;
    padding-right:1.5rem;
  }

  .seatclasstoggler
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .seatclasstoggler > span 
  {
    padding: 0 1rem;
    font-weight: 500;
  }

/* *****************TOGGLE SWITCH************************ */
.toggle-switch
{
  height: 2rem;
  width: 4rem;
  border-radius: 1rem;
  transition: all .35s;
  border: 1px solid #1b9cfc;
  text-align: left;
  background-color: #1b9cfc;
}

.switchlight
{
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  border: #666;
  transition: all .5s;
  background-color: #fff;
  box-shadow: 0 .1rem .3rem #666;
  margin: 0.6px 0.1px 2.5px 1px;
  cursor: pointer;
}

.switchlight:focus
{
    outline-style: none;
}
.on-animationright
{
    transform: translate(1.85rem, 0px); 

}

.on-animationleft
{
    transform: translate(0px, 0px);

}

/***************flight card wrapper**********************/


.flightdetailwrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5rem 0;
    background-color: #fdfdfd;
    min-height: 100vh;
    flex-direction: column;

}


 
  

