.flightdetailwrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0;
    background-color: #e1e1e1;
    height: 100vh;
    flex-direction: column;

}