.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #6c5ce7;
}

.card
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    box-shadow: 0px 3px 5px #ccc;
    height: 12rem;
    border-radius: 1.5rem;
    font-family: 'Poppins';
    background-color: #fff;
    margin: 1rem 0;

}
.card__section
{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card__flight--logo
{
    margin-top: -2rem;
}
.card__location--time
{
    height: 3.5rem;
    font-weight: 500;
    font-size: 1.8rem;
}

.card__location--place
{
    color: #666;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: capitalize;

}

.card__duration > div
{
    margin:0.3rem
}
.card__duration--name
{
    font-size: 1.2rem;
    color: #333;
}
.card__duration--time
{
    color: green;
    font-weight: 500;
}
.card__duration--type
{
    font-size: 1.4rem;
    color: #666;
    text-transform: uppercase;
}

.card__booking > div
{
 margin: 0.5rem 0;
 
}
.card__booking--price
{
    font-weight: 500;
    font-size: 1.8rem;
}
.book 
{
    border-radius: 1.3rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    width: 8rem;
    color: floralwhite;
    background-color:#6c5ce7;
    cursor: pointer;
}

@media screen and (min-width:768px) and (max-width:1100px)
{


    .card 
    {
        width: 85%;
    }

}
@media screen and (max-width:768px)
{
    .card 
    {
        width: 95%;
    }
}

@media screen and (max-width:500px)
{
    .card__section 
    {
        width: 25%;
    }
    .card__duration
    {
        display: none;
    }
   
    .card__duration--name,.card__booking--price,.card__location--time,.card__location--place

    {
        font-size: 1rem;
        color: #333;
    }

    .book 
    {
    border-radius: 1rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    width: 4rem;
    color: floralwhite;
    background-color:#6c5ce7;
    cursor: pointer;
    font-size: 1rem;
    }
}