<app-header *ngIf="!isLoggedIn"></app-header>
 <app-loggedinheader *ngIf="isLoggedIn == true"></app-loggedinheader>
 <header>
    <div class="logo">
        <a>Traveller Details </a>   
     </div>
</header> 

<div class="passengercontainer">
    <div class="passengerwrapper">
        <div class="flight">
            <section class="section flight--summary">
                <p class="heading">Flight Summary</p>

                <div class="flight--summary-card">
                    <h3> {{flightselectobj.departure_location}}- {{flightselectobj.arrival_location}}</h3>
                    <h4> Departure {{flightselectobj.travel_date|date}} </h4>
                </div>
            </section>

            <section class="section passenger__summary">
                <div class="passenger__summary__headingcontainer">
                    <p class="heading">Traveller Details</p>
                    <p class="heading passenger__summary__headingcontainer--count">{{count}}/{{this.flightselectobj.number_of_seats}} Selected</p>
                </div>
                <div class="errormsg" *ngIf = "f.invalid || count<flightselected.number_of_seats">Incomplete</div>

                <form #f = "ngForm" (ngSubmit) = "f.valid && onSubmit()">
                    <div *ngFor = "let obj of dataarray; let i = index" class="passengerdetails details-wrapper">

                        <div class="card-heading">
                            <span class="title">Adult</span>
                        </div>
                        <div class="card-body">
                            <div class="card-body--info">
                                IMPORTANT: Enter your name as it is mentioned on your passport or any government approved ID.
                            </div>
                            <div class="card-body--details card-body--firstname">
                                <div class="card-body--input">
                                    <input type="text" placeholder="First Name" name="firstname{{i}}" required [(ngModel)]="obj.firstname" >
                                </div>
                                <div class="card-body--input card-body--lastname">
                                    <input type="text" placeholder="Last Name"  name="lastname{{i}}" required [(ngModel)]="obj.lastname">
                                </div>
                                <div class="card-body--input card-body--age">
                                    <input type="number" min="0" placeholder="Age"  name="age{{i}}" required [(ngModel)]="obj.age">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <span (click) = "onAdd()" class="passengerdetails--addpassengers" *ngIf = "count<flightselected.number_of_seats">+ Add Passenger</span>
                        <button type="submit" class="passenger--submit" [disabled] = "count!=flightselected.number_of_seats">Continue</button>
                    </div>
                    
                </form>

            </section>
        
    </div>
    <div class="fare" *ngIf = "seatprice != undefined">
        <section class="fare-section">
            <p class="heading">Fare Summary</p>

            <div class="farewrappercard">
                <div class="base-fare fare-section--row">
                    <p>Base Fare</p>
                    <p>{{'₹' + seatprice}}</p>
                </div>
                <div class="Subcharges fare-section--row">
                    <p>Fee & Surcharges </p>
                    <p>₹698</p>
                </div>
                <div class="Others fare-section--row">
                    <p>Others </p>
                    <p>₹10</p>
                </div>
                <div class="Total-Amount fare-section--row">
                    <p>Total Amount: </p>
                    <p>{{'₹' + totalprice}}</p>
                </div>
            </div>
            

        </section>
    </div>
        <!-- <form class="contactdetails  details-wrapper">
            <div class="contactdetails--info">
                <h3>Your ticket and flights information will be sent here.</h3>
            </div>
            <div class="card-body">
                <div class="card-body--details card-body--firstname">
                    <div class="card-body--input">
                        <input type="text" placeholder="India(+91)" required readonly>
                    </div>
                    <div class="card-body--input card-body--mobile_no">
                        <input type="text" placeholder="Mobile No" required>
                    </div>
                    <div class="card-body--input card-body--email">
                        <input type="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                    </div>
                </div>
            </div>
        </form> -->
    </div>
</div>

