.loginwrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-image: url(../../../assets/login_image.jpg);
   background-color: black;
}
.logincontainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50rem;
    background-color: white;
    border-radius: 1rem;
    padding: 3rem;
}
.loginform
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;  
    padding: 3rem 0 6rem 0 ;
}

.loginform__heading
{
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 3rem 0;
    font-weight: 600;
}
.inputcontainer
{
    margin: 1.5rem 0;
}
.label {
    font-size: 1.6rem;
    color: #555;
    text-transform: capitalize;
    display: block;
    margin-bottom: 0.5rem;
}
.loginform__input
{
        line-height: 5rem;
        background: #fafafa;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        border-radius: 5px;
        padding: 0 2rem;
        font-size: 1.6rem;
        color: #666;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
        border: none;
        width: 30rem;

    
}
.pwdcontainer
{
    position: relative;
}
.loginform__toggleicon
{
    position: absolute;
    font-size: 1.3rem;
    top: 4rem;
    right: 1.5rem;
}
.submitbtn 
{
    padding: 2rem 2rem;
    outline: none;
    color: floralwhite;
    background-color: blueviolet;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 15rem;
    font-size: 1.6rem;
    margin-top: 3rem;
}
small 
{
    font-size: 1.3rem;
    color: red;
}
.loginsignupbtn
{ 
    padding-left:10px;
    padding-top:30px;
    font-size: small;
    text-decoration: none;
}
.fa-arrow-circle-right
{ 
    padding:5px;
}

.forgotpwd
{
    font-size: 1.3rem;
    position: absolute;
    top: 9rem;
    right: 0rem;
    cursor: pointer;
    margin-bottom: 2rem;
    outline: none;
}
/**********************************************/
@media screen and (max-width:500px)
{
  .logincontainer
  {
    width: 95vw;
    
  }
}