<div class="airplane-seatswrapper">
    <div class="airplane-left">
        <div class="row-wrapper">
            <div *ngFor="let s of row1,let i = index;">
                <button  [disabled] = "s.booked == 1"
                [ngClass]="(s.booked==1)?'seat disabled' : (s.reserved == 1) ? 'seat reserved' : 'seat'"
                 (click) = "reserve(s.seatnumber)" >{{s.seatnumber}} </button>
            </div>
        </div>
        
        <div class="row-wrapper">
            <div *ngFor="let s of row2;">
                <button  [disabled] = "s.booked == 1"
                [ngClass]="(s.booked==1)?'seat disabled' : (s.reserved == 1) ? 'seat reserved' : 'seat'"
                 (click) = "reserve(s.seatnumber)" >{{s.seatnumber}} </button>
            </div>
        </div>
        
        <div class="row-wrapper">
            <div *ngFor="let s of row3;">
                <button  [disabled] = "s.booked == 1"
                [ngClass]="(s.booked==1)?'seat disabled' : (s.reserved == 1) ? 'seat reserved' : 'seat'"
                 (click) = "reserve(s.seatnumber)" >{{s.seatnumber}} </button>
            </div>
        </div>
        
    </div>
    
    <div class="airplane-right">
        <div class="airplane-left">
            <div class="row-wrapper">
                <div *ngFor="let s of row4;">
                    <button  [disabled] = "s.booked == 1"
                    [ngClass]="(s.booked==1)?'seat disabled' : (s.reserved == 1) ? 'seat reserved' : 'seat'"
                     (click) = "reserve(s.seatnumber)" >{{s.seatnumber}} </button>
                </div>
            </div>
            
            <div class="row-wrapper">
                <div *ngFor="let s of row5;">
                    <button  [disabled] = "s.booked == 1"
                    [ngClass]="(s.booked==1)?'seat disabled' : (s.reserved == 1) ? 'seat reserved' : 'seat'"
                    (click) = "reserve(s.seatnumber)" >{{s.seatnumber}} </button>
                </div>
            </div>
            
            <div class="row-wrapper">
                <div *ngFor="let s of row6;">
                    <button  [disabled] = "s.booked == 1"
                    [ngClass]="(s.booked==1)?'seat disabled' : (s.reserved == 1) ? 'seat reserved' : 'seat'"
                    (click) = "reserve(s.seatnumber)" >{{s.seatnumber}} </button>
                </div>
            </div>
        </div>   
    </div>
    
</div>
