/* Header */
header 
{
    display: flex;
    align-items: center;
    height: 6.5rem;
    background-color: #111;
    width: 100%;
    color: white;
    position: relative;
}

.logo 
{
    padding-left: 3rem;
}
.nav-items
{
    position: absolute;
    right: 2rem;
}

.nav-items>a
{
    padding: 0 3rem;
    cursor: pointer;
}

ul { 
    padding: 0; 
    list-style: none; 
    display: table;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25rem;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: .5rem;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 90%; 
    left: 1rem; 
  }

.parent
{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 90vh;
   background-color: #e0e0e0;
   overflow-y: hidden;


}
.airplane-seatswrapper
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #e0e0e0;
    transform: rotateZ(-90deg);
    height: 300rem;
    padding-top: 80rem;
}
.airplane-seatswrapper>div 
{
    margin-bottom: 3.5rem;
}

.cockpit,.tail 
{
    transform: rotateZ(90deg);
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cockpit>img 
{
    height:  100%;
}

.tail >img 
{
    height:100%;
}

.seatwrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40rem;
    padding: 1rem 0;
}
.airplane-left,.airplane-right
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.seat
{
    width: 4rem;
    height: 4rem;
    border-radius: 2px;
    color: #333;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    margin: 0.5rem;
    background-color: #fff;
    font-family: 'Poppins';
    text-transform: capitalize;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    transform: rotateZ(90deg);

}

.notallowed
{
    cursor: not-allowed;
}
.disabled 
{
    cursor: not-allowed;
    background-color: red;
    color: floralwhite;
}

.reserved 
{
    background-color: green;
    color: floralwhite;
}
/***********Footer********/
footer 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 1rem 5rem
}

.footer--left 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--left .footer--title
{
    margin-right: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
}
.seatlegends,.legendwrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.seatlegends
{
    margin-left: 5rem;
}
.seatblock 
{
    height: 2rem;
    width: 2rem;
    background-color: red;
    border: 1px solid #e1e1e1;

}
.legendwrapper span
{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 1rem;
   


}
.confirmseat
{
    width: 15rem;
    line-height: 48px!important;
    margin: 0 11px;
    height: 48px!important;
    background: #008cff;
    border-radius: 96px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(95deg,#53b2fe,#065af3)!important;
    border-radius: 9.6remx;
    font-size: 1.4rem;
    outline: none;
    border: none;
    cursor: pointer;
}

/**********Contact details********/

form
{
    margin:1.5rem 0;
    border-bottom: 1px solid #e1e1e1;
}
.details-wrapper
{
    width: 100vw;
    padding: 0 2rem;
}
.contactdetails--info
{
    padding: 0 2rem;
}
.contactdetails--info > h3 
{
    font-weight: 600;
    font-size: 1.6rem;
}
.card-body
{
    width: 100%;
    padding: 2rem 1.5rem;
    height: 75%;
}
.card-body--info
{
    font-size: 14px;
    color: #000;
    margin-bottom: 1.6rem;
    font-weight: 500;
}
.card-body--details
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.card-body--input>input
{
    border-radius: 4px;
    border: 1px solid #9b9b9b;
    padding: 8px 8px;
    font-size: 16px;
    color: #4a4a4a;
    outline: 0;
    margin-right: 1.5rem;
}

.choosen 
{
    background-color: #e1e1e1
}

