@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.bg
{
    background-image:url(../../../assets/adminbg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
   
}
.dim {
    padding: 30px;
    max-width: 700px;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: white;
    font-size:15px;
    
    
}

.control-label
{
    font-weight: 650;
    padding-left: 50px;
    padding-top:6px;
    font-family: 'Rubik', sans-serif;
}
.form-control{
    font-family: 'Open Sans' , sans-serif;
    position:relative;
    width:100%;
    padding:8px;
    border: solid rgb(114, 111, 111);
    border-width: 1px;
    border-radius: 4px;
    background-color: rgb(231, 231, 231);
    color:rgb(80, 79, 79);
   font-weight:650;
   outline: none;
   font-family: 'Rubik', sans-serif;
}


.container
{       width:60%;
        margin-left:auto;
        
}


.dim .h2 { 
    font-family: 'Rubik' , sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 3%;
    text-align: center;
}

.msg{
    
    color:red;
    font-weight: 700;
}
.days
{
    font-family: 'Rubik', sans-serif;
    list-style-type: none;
    background-color: rgb(231, 231, 231);
    height:100px;
    overflow-y:scroll ;
    border-radius: 8px;
    padding-left: 15px;
    padding-top: 10px;
    border: solid rgb(114, 111, 111);
    border-width: 1px;
    font-weight:570;
}

.bt
{
        
    color:black;
    background-color: rgb(202, 195, 195);
    font-size: large;
    border: none;
    border-radius: 3px;
    padding: 15px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width:100%;
    font-weight:550;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

.add
{
    margin-bottom: 5px;
    background-color: #5a8ad3;
    color:white;
        
}
