<div class=" Hero signupwrapper">
    <div class = 'signupcontainer'>   
        <h1 class='signupform__heading'>Signup</h1>
        <form class="signupform">
            <div class="row">
                <div class="col-12 col-md-5 inputgroup">
                    <div>
                        <label class="label">Title</label>
                        <input class="input--style-4" type="text" name="Title" required autocomplete="off">
                    </div>
                </div>
                <div class="col-12 col-md-5 inputgroup">
                    <div>
                        <label class="label">First name</label>
                        <input class="input--style-4" type="text" name="first_name" required autocomplete="off">
                     </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-5 inputgroup">
                    <div>
                        <label class="label">last name</label>
                        <input class="input--style-4" type="text" name="last_name" required autocomplete="off">
                    </div>
                </div>
                <div class="col-12 col-md-5 inputgroup">
                    <div>
                        <label class="label">DOB</label>
                        <input class="input--style-4"  onfocus="(this.type='date')" onblur="(this.type='text')" name="Date of Birth" type='text' required autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 inputgroup">
                    <div class="pwdcontainer">
                        <label class="label">Password</label>
                        <input class="input--style-4"  [type]="visible ? 'text' : 'password'" name="Password" required autocomplete="off">
                        <fa-icon [icon]  =  "visible ? faEye : faEyeSlash "  (click) = "onClick()" class="loginform__toggleicon"></fa-icon>
                     </div>
                </div>
                <div class="col-12 col-md-5 inputgroup">
                    <div class="pwdcontainer">
                        <label class="label">Confirm Password</label>
                        <input class="input--style-4"  [type]="visible ? 'text' : 'password'" name="Password" required autocomplete="off">
                        <fa-icon [icon]  =  "visible ? faEye : faEyeSlash "  (click) = "onClick()" class="loginform__toggleicon"></fa-icon>

                     </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-12 col-md-5 inputgroup">
                    <div>
                        <label class="label">Email</label>
                        <input class="input--style-4" type="email" name="Email" required autocomplete="off">
                    </div>
                </div>
                <div class="col-12 col-md-5 inputgroup">
                    <div>
                        <label class="label">Phone Number</label>
                        <input class="input--style-4" type="tel" name="Phone No." required autocomplete="off">
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 inputgroup">
                    <button type="submit" class="submitbtn" > Submit </button>
                </div>
            </div>


    </form>

    </div>
</div>