<div class="loginwrapper">
    <div class="logincontainer">
        <h1 class='loginform__heading'>Reset Password</h1>
        <form class="loginform" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit(f.value)" >
                    <div class="inputcontainer">
                        <label class="label">Password</label>
                        <input class="loginform__input"  [type]="visible ? 'text' : 'password'" name="password" required 
                            autocomplete="off" ngModel #password = "ngModel" 
                            minlength="8"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                        <fa-icon [icon]  =  "visible ? faEye : faEyeSlash"  (click) = "onClick()" class="loginform__toggleicon"></fa-icon>

                        <div *ngIf="password.invalid && (password.dirty || password.touched ||f.submitted)">
                            <small *ngIf="password.errors?.required">Password is required</small>
                            <small *ngIf="password.errors?.minlength">Password must be at least 8 charachters</small>
                            <small *ngIf="password.errors?.pattern">Alphanumeric with at least 1 special & uppercase character</small>
                        </div>
                     </div> 
                
                
                    <div class="inputcontainer">
                        <label class="label">Confirm Password</label>
                        <input class="loginform__input"  [type]="visible ? 'text' : 'password'" name="cnfpwd" 
                            required autocomplete="off" ngModel #cnfpwd = "ngModel" checkpwdvalidator = "password">
                        <fa-icon [icon]  =  "visible ? faEye : faEyeSlash "  (click) = "onClick()" class="loginform__toggleicon"></fa-icon>
                     </div>

                     <div *ngIf="cnfpwd.invalid && (cnfpwd.dirty || cnfpwd.touched ||f.submitted)">
                        <small *ngIf="cnfpwd.errors?.required">Password is required</small>
                        <small *ngIf="cnfpwd.errors?.notEqual">Passswords do not match</small>
                    </div>
               
          
            <button type="submit" class="submitbtn"> Continue </button>

        </form>

    </div>
</div>