<app-adminheader *ngIf="!isLoggedIn"></app-adminheader>
 <app-adminloggedinheader *ngIf="isLoggedIn == true"></app-adminloggedinheader>

 <div class="bg">    
    <div class="view">
        <table class="tbl">
            <thead>
                <tr>
                    <th class="head" colspan="3">
                        <span>
                            <img src="../../assets/adminheader.png" class="head_logo " >
                        </span>
                    </th>
                    <th class="h">
                        <h1 class="h1">
                        FLIGHTS
                    </h1>
                </th></tr>
                <tr>
                    <th colspan="7">
                       <div class="searchplace">                          
                            <input type="text" class="search" name="search" [(ngModel)]="searchText" placeholder="&#xf002; Search for Flights">
                        </div> 
                    </th>
                </tr>
                <tr class="th">
                    <th class="th">Flight Number</th>
                    <th class="th">Origin</th>
                    <th class="th">Departure Time</th>
                    <th class="th">Destination</th>
                    <th class="th">Arrival Time</th>
                    <th class="th">Duration</th> 
                    <th class="th"></th>                         
                
                </tr>
            </thead>
            <tbody>
                
                <tr class="tr" *ngFor="let flight of flights | filter:searchText">
                    <td class="td">
                        <div>
                            <img src="../../assets/adminplanelogo.png" class="head_logo">
                        </div>
                        {{flight.flight_number}}
                    </td>
                    <td class="td">{{flight.departure_location}}</td>
                    <td class="td">{{flight.departure_time}}</td>
                    <td class="td">{{flight.arrival_location}}</td>
                    <td class="td">{{flight.arrival_time}}</td>
                    <td class="td">{{flight.duration}}</td>
                    <td class="td">
                        <button class="bt update" [routerLink]="['/updateflight/', flight.flight_number]">Update</button><br>
                        <button class="bt delete" [routerLink]="['/deleteflight/', flight.flight_number]">Delete</button>
                    </td>
                
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-adminfooter></app-adminfooter>