.header
{
    height: 90vh;
    display: flex;
    /* background-image: linear-gradient(to bottom,#051322,#15457c);    */
    background-color: #4834d4;
    justify-content: center;
    align-items: center;
}
.row 
{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.wrapper
{
    min-height: 60%;
    min-width: 80%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.form__heading
{
    font-size: 1.8rem;
    padding: 1rem;
}
.form__radio
{
    padding: 1rem 1rem;

}



.form__details
{
    padding: 1rem 2rem;
}


.form__inputcontainer
{
    padding: 0 1rem;
}
.btn-disabled
{
    cursor: not-allowed;
    padding: 2rem 2rem;
    outline: none;
    color: floralwhite;
    background-color: blueviolet;
    border: none;
    border-radius: 1rem;
    width: 15rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    text-transform: capitalize;

}
.btn-enabled
{
    cursor: pointer;
    padding: 2rem 2rem;
    outline: none;
    color: floralwhite;
    background-color: blueviolet;
    border: none;
    border-radius: 1rem;
    width: 15rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    text-transform: capitalize;
}

/* mat-fields css */


@media screen and (max-width:768px)
{
    .wrapper
    {
        min-height: 90%;
        min-width: 90%;
    }
}

@media screen and (max-width:500px)
{
    .header
    {
        height: fit-content;
        padding: 1rem;
    }
   
}