.header
{
    height: 90vh;
    display: flex;
    background-image: url('../../../assets/headernew.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
    background-color: #4834d4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2rem;
    width: 100%;

}
.logo 
{
    padding-left: 3rem;
}
.searchlogoImg
{
  width: 10rem;
  height: 10rem;
  background-image: url('../../../assets/logo3.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-items 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
}
.nav-items>a
{
    padding: 1rem 2rem;
    background-color:#4934d467;
    margin-left: 2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.955); 
    transition: all 0.3s;

}
.nav-items>a:hover 
{
    color:#4834d4; 
    background-color: #fff;
}
.row 
{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.herotext
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
}
.hero--subtext
{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'poppins';
}
.hero--maintext
{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'poppins';
    margin-bottom:5rem 0;
    color: #333;
}
.card
{
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 3rem;
    padding: 1rem;
}

form 
{
    height: 100%;
}
.form__heading
{
    font-size: 1.8rem;
    padding: 1rem;
}
.form__radio
{
    padding: 1rem 1rem;
}



.form__details
{
    padding: 1rem 2rem;
}


.form__inputcontainer
{
    padding: 0 1rem;
}
.btn-disabled
{
    cursor: not-allowed;
    padding: 2rem 2rem;
    outline: none;
    color: floralwhite;
    background-color:#4934d4;
    border: none;
    border-radius: 1rem;
    width: 15rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    text-transform: capitalize;

}
.btn-enabled
{
    cursor: pointer;
    padding: 2rem 2rem;
    outline: none;
    color: floralwhite;
    background-color: #4934d4;
    border: none;
    border-radius: 1rem;
    width: 15rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    text-transform: capitalize;
}
.admin--login
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 4rem;
    height: 5rem;
    width: 100vw;
    background-color: #222;
}
.admin--login > a
{
    text-decoration: none;
    color: #fff;
    padding-left: 2rem;

}

/* mat-fields css */


@media screen and (max-width:768px)
{
    .wrapper
    {
        min-height: 90%;
        min-width: 90%;
    }
}

@media screen and (max-width:500px)
{
    .header
    {
        height: fit-content;
        padding: 1rem;
    }
   
}